{% extends 'base.html' %}
{% block content %}
<main class="container py-5">
    <section class="card card-body border rounded shadow-sm">
        <h2>{{ book.title }} - Cuestionario</h2>
        {% if quizzes %}
    <ul>
        {% for quiz in quizzes %}
                <li>
                    <a href="{% url 'quiz_detail' quiz_id=quiz.id %}">{{ quiz.question }}</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No hay cuestionarios disponibles para este libro.</p>
    {% endif %}
    </section>
</main>
{% endblock %}