{% extends 'base.html' %}
    {% block content %}
        <main class="container py-5">
            <section class="card card-body border rounded shadow-sm mb-5  text-center">
              <h2 class="display-6 fw-bold my-2">Bienvenid@ {{ user.username }} a PlatyBooks</h2>
                <p class="fs-5">Catalogo, quizzes y más</p>
            </section>
            
              <div class="row mb-2">
                <div class="col-md-6">
                  <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                      <h3 class="mb-2">Sobre nosotros</h3>
                      <p class="card-text mb-auto">Como grupo, luego de ocupar los distintos servicios de información que nos ofrece la biblioteca, hemos desarrollado "PlatyBooks", enfocado en fomentar la lectura le de los consumidores de recursos literarios, a través de un catalogo, organizado por géneros, a parte de contar con un sistema de cuestionarios con recompensas digitales, con las que esperamos mantener el interés de los usuarios que utilicen nuestra pagina.</p>
                    </div>
                    <div class="col-auto d-none d-lg-block">
                      <img src="static/images/logo2.jpg" width="200" height="362">
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                      <h3 class="mb-2">Sobre la Biblioteca</h3>
                      <p class="mb-2">La BCN, ubicada en la región metropolitana, a escasos pasos de la estación de metro Santa Lucía, es el principal centro bibliográfico del país. Su objetivo principal consiste en recopilar, preservar y difundir la diversidad de material bibliográfico, que forman parte de la memoria colectiva nacional, a fin de posibilitar el acceso a la información y conocimiento contenidos en sus colecciones, a todos quien lo solicite tanto por los medios físicos (en la misma biblioteca), o por medio digitales.</p>
                      <a href="https://www.bibliotecanacional.gob.cl" class="icon-link gap-1 icon-link-hover stretched-link link-danger link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
                        Ir a la página de BNC
                        <svg class="bi"><use xlink:href="#chevron-right"></use></svg>
                      </a>
                    </div>
                    <div class="col-auto d-none d-lg-block">
                      <img src="static/images/biblio.jpg" width="200" height="362">
                    </div>
                  </div>
                </div>
              </div>
        </main>
    {% endblock %}