{% extends 'base.html' %}

    {% block content %}

        <main class="container">
            <div class="row">
                <div class="col-md-4 offset-md-4 mt-5">
                    <form action="/signin/" method="POST" class="card card-body border rounded shadow-sm">
                    
                        {% csrf_token %}
                        <h2 class="text-center">Iniciar Sesión</h2>
                    
                        <!--textbox pal usuario-->
                        <div class="mb-3">
                            <label for="username">Nombre de usuario:</label>
                            <input class="form-control" type="text" name="username" id="username" class="form-conttrol" placeholder="Escriba su usuario">
                        </div>
                    
                        <!--textbox para la contraseña-->
                        <div class="mb-3">
                            <label for="password">Contraseña:</label>
                            <input class="form-control" type="password" name="password" id="password" class="form-conttrol" placeholder="Escriba su contraseña">
                        </div>
                    
                        <!--boton de login-->
                        <div class="text-center">
                            <button class="btn btn-outline-danger">
                                Iniciar Sesión
                            </button>
                        </div>
                        {{error}}
                    </form>
                </div>
            </div>
        </main>

    {% endblock %}
